[flake8]
# Set the maximum line length to match Black
max-line-length = 88
# Ignore specific errors (E203 is whitespace before ':', incompatible with Black)
extend-ignore = E203

# EXCLUDE MIGRATIONS HERE
# The pattern *migrations* ensures any folder named 'migrations' is skipped
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    */migrations/*,
    *migrations*,
    cache/*

# Ignore errors in specific types of files
per-file-ignores =
    # Settings files use star imports (*), which is standard in Django
    config/settings/*: F403, F405
    # App configs often import signals but don't use them directly
    apps/*/apps.py: F401
